/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
}

table > caption {
  text-align: left;
  font-weight: bolder;
  font-size: 120%;
  padding-left: 4px;
}

tbody > tr > td.domain-type {
  text-transform: lowercase;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 467px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
